BasedOnStyle: Mozilla
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: 1000000
Cpp11BracedListStyle: true
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Always